<% content_for :title, "Editing recipe" %>

<h1>Éditer la recette</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Montrer cette recette", @recipe, class: "btn btn-primary" %>
  <%= link_to "Retour aux recettes", recipes_path, class: "btn btn-secondary" %>
</div>
