<% content_for :title, "Nouvelle recette" %>

<h1>Nouvelle recette</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Retour aux recettes", recipes_path, class: "btn btn-primary"%>
</div>
