<div id="<%= dom_id author %>">
  <p>
    <strong>Pseudonym:</strong>
    <%= author.pseudonym %>
  </p>

  <p>
    <strong>Image:</strong><br>
    <%= image_tag author.image, size:"400x300"%>
  </p>

</div>
