<% content_for :title, "New author" %>

<h1>Nouvel auteur</h1>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Retour aux auteurs", authors_path, class: "btn btn-secondary"%>
</div>
